* {
  margin: 0px;
  padding: 0px;
}

.nav-link {
  color: black;
  text-decoration: none;
  margin-bottom: 8px;
}

.nav-link:hover {
  color: #d1453b;
}

.nav-link-active {
  font-weight: bold;
  color: #d1453b;
}

.navigate {
  color: #080303;
  line-height: 50px;
}
